.status-bar {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    width: 100vw;
    font-size: 13px;
    font-weight: 700;
    box-sizing: border-box;
    position: fixed;
    top:0;
}

.status-bar_Agency {
    width: 33%;
    text-align: start;
}

.status-bar_time {
    width: 33%;
    text-align: center;
}

.status-bar_info {
    width: 33%;
    text-align: end;
}


.status-bar_info i {
    margin-right: 1px;
}